In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
#we'll read our cities.csv file into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Caravelas,BR,2021-04-07 23:19:28,-17.7125,-39.2481,73.65,87,99,12.82
1,1,Menongue,AO,2021-04-07 23:19:29,-14.6585,17.6910,62.46,69,74,3.04
2,2,Barrow,US,2021-04-07 23:19:29,71.2906,-156.7887,-18.40,63,90,10.36
3,3,Provideniya,RU,2021-04-07 23:19:29,64.3833,-173.3000,3.20,66,0,8.95
4,4,Bogo,PH,2021-04-07 23:19:30,11.0517,124.0055,79.29,74,85,6.62

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=400, point_radius=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=400, point_radius=5)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=400, point_radius=5)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Bogo,PH,2021-04-07 23:19:30,11.0517,124.0055,79.29,74,85,6.62
5,5,Rio De Jesus,PA,2021-04-07 23:19:30,7.9844,-81.1631,83.37,64,98,6.78
8,8,Padang,ID,2021-04-07 23:19:31,-0.9492,100.3543,75.20,100,40,2.30
14,14,Sola,VU,2021-04-07 23:19:33,-13.8833,167.5500,86.00,79,40,4.70
15,15,Kapaa,US,2021-04-07 23:19:33,22.0752,-159.3190,77.00,65,75,21.85
24,24,Rikitea,PF,2021-04-07 23:15:36,-23.1203,-134.9692,76.93,60,0,8.46
30,30,Saint George,US,2021-04-07 23:15:14,37.1041,-113.5841,81.00,7,1,4.61
37,37,Araouane,ML,2021-04-07 23:19:39,18.9048,-3.5265,85.10,11,0,7.16
39,39,Gamba,GA,2021-04-07 23:19:40,-2.6500,10.0000,78.42,90,49,5.30
42,42,Sandi,IN,2021-04-07 23:19:41,27.3000,79.9500,77.23,18,1,5.93

In [12]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4           Bogo      PH     79.29  11.0517  124.0055
5   Rio De Jesus      PA     83.37   7.9844  -81.1631
8         Padang      ID     75.20  -0.9492  100.3543
14          Sola      VU     86.00 -13.8833  167.5500
15         Kapaa      US     77.00  22.0752 -159.3190
24       Rikitea      PF     76.93 -23.1203 -134.9692
30  Saint George      US     81.00  37.1041 -113.5841
37      Araouane      ML     85.10  18.9048   -3.5265
39         Gamba      GA     78.42  -2.6500   10.0000
42         Sandi      IN     77.23  27.3000   79.9500

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Bogo,PH,79.29,11.0517,124.0055,Acrige Apartelle 2 pax Twin @ heart of Bogo City
5,Rio De Jesus,PA,83.37,7.9844,-81.1631,Parador fotografico Rio de Jesus
8,Padang,ID,75.20,-0.9492,100.3543,Mercure Padang
14,Sola,VU,86.00,-13.8833,167.5500,Leumerus Bungalows
15,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))